*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Roboto Mono;
	overflow-x: hidden;
	text-decoration: none;
}

body{
	background-color: #ffffff;
}


/*--TOP_PAGE-------------------------------------------------------*/
.top-page{
	height: 70vh;
	background: linear-gradient(#32c432, rgb(63, 172, 235));
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

nav{
	width: 100%;
	height: 8vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow-y: hidden;
	position: relative;
	z-index: 99;
}

nav a{
	margin: 1em;
	color: #00ffff;
	position: relative;
}

nav p{
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.logo{
	color: #ff0000;
	position: fixed;
	border-bottom: 1px solid #00ffff;
	padding: 0.5em;
	text-align: center;
}

.intro{
	height: 61.8vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text p:nth-child(1){
	font-size: 3em;
	font-weight: 100;
	text-align: center;
}

.text p:nth-child(2){
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: capitalize;
	text-align: center;
	padding: 1em;
	color: white;
	text-shadow: 0px 0px 5px cyan;
}


/*------MEDIA_QUERY---------------------------*/
@media all and (max-width: 600px){
	.logo{
		opacity: 0;
		position: absolute;
	}

	nav a{
		margin: 0.5em;
	}

	nav{
		justify-content: center;
	}

	nav p{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.text p:nth-child(1){
		font-size: 2em;
		padding: 0em;
	}

	.text p:nth-child(2){
		padding: 0.5em;
	}

	.top-page{
		height: 55vh;
	}

	.intro{
		height: 46.8vh;
	}

	.about-sec{
		flex-flow: column;
	}

	.card p:nth-child(4){
		margin-bottom: -0.5em;
		margin-top: -0.5em;
	}

	.card{
		height: 100%;
	}

	.card .img-container{
		margin-top: 0.5em;
		margin-bottom: 0.1em;
	}

	.team-row{
		flex-flow: column;
		margin-top: 30px;
		height: 100%;
		width: 100%;
	}

	.opacity{
		opacity: 0;
		position: absolute;
	}

	.team1{
		height: 10em;
		height: 10em;
		padding: 1em;
	}

	.team1-img-container{
		height: 5em;
		width: 5em;
		background-color: white;
		border-radius: 50%;
		padding: 0.5em;
		margin: -1em auto 0.5em auto;
	}

	.team1-img{
		height: 100%;
		width: 100%;
		background-image: url(img/profile.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 50%;
	}

	.team1 p{
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: white;
	}
}


/*--DO_NOT_TOUCH_CODE_BELOW_THIS_LINE--------------*/



@media all and (min-width: 600px){
	nav a{
		float: right;
		margin: 2em;
	}

	.about-sec{
		margin-top: 2em;
	}

	.team-row{
		width: 100%;
		height: 100%;
		padding: 2em 1.5em;
		position: relative;
		display: flex;
		justify-content: space-evenly;
}

	.team1-container{
		width: 100%;
	}

	.team1{
		padding: 1.5em;
		border-radius: 1em;
		background-color: #2f4664;
		margin: 0px 3em auto 3em;
		box-shadow: 0px 0px 2px wheat;
	}

	.team1-img-container{
		height: 8em;
		width: 8em;
		padding: 0.76em;
		background-color: #00c3ff;
		border-radius: 50%;
		margin: 1.5em auto 1.5em auto;
	}

	.team1-img{
		height: 100%;
		width: 100%;
		background-image: url(img/profile.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 50%;
	}

	.team1 p{
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #ffffff;
	}
}


/*---ANIMATION--------------------*/

nav a:hover{
	color: white;
}

.card:hover{
	background: linear-gradient(#0dc94c, #21cde4);
	color: #f5f5f5;
}

.card:hover .img-container{
	transform: scale(1.12);
	background: linear-gradient(#0dc94c, #21cde4);
}

.card p:nth-child(3){
	margin: 1em auto 1.5em auto;
}

/*--TOP_PAGE-------------------------------------------------------*/




/*--ABOUT_SEC-------------------------------------------------------*/

.about-sec{
	width: 100%;
	height: 100%;
	padding: 2em 1.5em;
	position: relative;
	display: flex;
	justify-content: space-evenly;
}

.column{
	margin: 0.5em auto 0.5em auto;
}

.card{
	background-color: white;
	border-radius: 0.5em;
	height: 100%;
	width: 50vh;
	padding: 0 1.5em;
	box-shadow: 1em 1em 1em black;
	background-color: aliceblue;
	cursor: pointer;
}

.img-container{
	height: 8em;
	width: 8em;
	padding: 0.76em;
	background-color: #00c3ff;
	border-radius: 50%;
	margin: 1.5em auto 1.5em auto;
}

.img{
	height: 100%;
	width: 100%;
	background-image: url(img/profile.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
}

.img-1{
	background-image: url(img/graphic.jpg);
}

.img-2{
	background-image: url(img/webing.jpg);
}

.about-sec{
	text-align: center;
}

.card p:nth-child(3){
	
	text-transform: uppercase;
	letter-spacing: 0.1em;
	
}

.card p:nth-child(4){
	padding-bottom: 1em;
}

.card button{
	width: 10em;
	padding: 0.5em;
	outline: none;
	border: 1px solid green;
	margin-bottom: 1em;
	border-radius: 1.5em;
}

button a{
	color: green;
}

.card button:hover{
	background: cyan;
	cursor: pointer;
}


/*--CONTACT_SEC-------------------------------------------------------*/

.contact-sec{
	width: 100%;
	height: 100%;
	background-color: #2f4664;
	text-align: center;
}
.team-head h3{
	color: #f1f0f0;
	margin: 0.5em auto 0em auto;
	font-size: 2em;
}

.team-head p{
	color: cyan;
	margin-top: 0.5em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 300;
}

